.recipeAuthorBlock {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    align-items: center;
    }
    
    .imageUpdates {
       object-fit: contain;
    }
    .recipePic{
      margin-top: 20px;
    }
    #recipePhoto{
      border: solid 10px;
    }
    .link{

      vertical-align: middle;

    }
    p{
      font-style: italic;
    }
    